<div class="container">
  <div class="col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1">
    <h1>ブログ一覧</h1>
    <%= link_to "インスタを投稿する",  new_inst_path,  class: 'btn btn-default btn-sm btn-success'%>

    <% @insts.each do |inst| %>
      <p>タイトル:<%= inst.title %></p>
      <p>本文:<%= inst.content %></p>
      <p>投稿者<%=  User.find(inst.user_id).name %></p>
      <%= link_to "インスタを編集する", edit_inst_path(inst.id), class: 'btn btn-default btn-sm btn-primary' %>
      <%= link_to 'インスタを削除する', inst_path(inst.id), method: :delete,  class: 'btn btn-default btn-sm btn-danger' %>
    <% end %>
  </div>
</div>
