<div class="container">
  <div class="col-md-2 col-md-offset-3 col-sm-11 ">
<p><%= notice %></p>
<br>
  <%= link_to "一覧へ", insts_path, class: 'btn btn-default btn-sm btn-primary' %>
  <%= form_for(@inst) do |f| %>
    <%= f.label :タイトル %>
    <%= f.text_field :title %>
    <br>
    <%= f.label :内容 %>
    <%= f.text_field :content %>
    <br>
    <%= f.label :画像選択 %>
    <%= f.file_field :image %>
    <br>
    <div><%= f.submit %></div>
  <% end %>
  
  </div>
</div>